mathematics_for_physicists_and_chemists.aux
mathematics_for_physicists_and_chemists.idx
mathematics_for_physicists_and_chemists.log
mathematics_for_physicists_and_chemists.out
mathematics_for_physicists_and_chemists.toc
texput.log
transparent.dtx

